        html,
        body {
            height: 100%;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
            background-color: #ace2c5;
            font-family: 'Gaegu', cursive;
        }

        #message-pane {
            background-image: url("/assets/images/chatbg.gif");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #96c5dd;
        }

        #form-card {
            margin: 10px;
        }

        .material-icons {
            font-size: 48px !important;
        }

        .message-card {
            max-width: 75%;
            border-radius: 10px;
            padding: 10px;
            font-size: 18px;
        }